* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: black;
}

header {
  display: flex;
  border-bottom: 1px solid rgb(58, 58, 60);
  justify-content: center;
}

header span {
  color: gainsboro;
  font-size: 1.3rem;
  font-weight: bold;
  margin: auto 0;
  padding-left: 10px;
}

header span:hover {
  color: wheat;
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.game {
  width: 100%;
  max-width: 700px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  flex: 1;
  display: flex;
  justify-content: center;
  color: gainsboro;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0.4rem 0 0.4rem 0;
}

.board__container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
  margin-block: 20px 50px;
  overflow-y: auto;
  overflow-x: hidden;
}

.column__headings {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 10px;
  color: wheat;
  text-align: center;
  border-bottom: 1px solid wheat;
  margin-block: 5px 25px;
  font-size: 20px;
  font-weight: bold;
  width: 80%;
}

.input__container {
  height: 200px;
}

.inputbox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputbox input {
  padding: 15px;
  border-radius: 3px;
  outline: none;
  background: #756c6c;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: #000;
  font-size: 14px;
  transition: 0.5s;
  text-align: center;
  font-size: 22px;
}

.dropdown__content {
  overflow-x: hidden;
  overflow-y: auto;
}

.dropdown__content li {
  background-color: white;
  font-size: 24px;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown__content li img {
  width: 50px;
}

.dropdown__content li:hover {
  background-color: wheat;
}

.guess {
  display: flex;
  font-size: 40px;
  font-weight: 900;
  color: wheat;
  padding: 10px;
}

.guess img {
  border-radius: 50%;
  border: 5px solid wheat;
  width: 100px;
}

.guess p {
  margin: auto 0;
  padding-inline: 10px;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  width: 80%;
}

.square {
  text-align: center;
  border: 2px solid rgb(58, 58, 60);
  border-radius: 10px;
  width: 90px;
  height: 90px;
  font-size: 25px;
  font-weight: bold;
  color: gainsboro;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square img {
  border-radius: 50%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
