* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: black;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  border-bottom: 1px solid rgb(58, 58, 60);
  justify-content: center;
}

header .attempts {
  color: gainsboro;
  font-size: 1rem;
  font-weight: bold;
  margin: auto 0;
  text-align: left;
}

.header__btns {
  color: gainsboro;
  font-size: 1.3rem;
  font-weight: bold;
  margin: auto 0;
  text-align: right;
}

.header__btns > *:hover {
  color: wheat;
}

hr {
  margin: 20px;
  color: wheat;
}

.heading {
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  margin: 0.4rem 0 0.4rem 0;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.hide {
  display: none !important;
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.game {
  width: 100%;
  max-width: 700px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  flex: 1;
  display: flex;
  justify-content: center;
  color: gainsboro;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0.4rem 0 0.4rem 0;
}

.board__container {
  position: relative;
  display: none;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
  margin-block: 20px 50px;
  overflow-y: auto;
  overflow-x: hidden;
}

.column__headings {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 10px;
  color: wheat;
  text-align: center;
  border-bottom: 1px solid wheat;
  margin-block: 5px 25px;
  font-size: 20px;
  font-weight: bold;
  width: 80%;
}

.input__container {
  height: 200px;
}

.input__box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input__box input {
  padding: 15px;
  border-radius: 3px;
  outline: none;
  background: #756c6c;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: #000;
  font-size: 14px;
  transition: 0.5s;
  text-align: center;
  font-size: 22px;
}

.dropdown__content {
  overflow-x: hidden;
  overflow-y: auto;
}

.dropdown__content li {
  background-color: white;
  font-size: 24px;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown__content li img {
  width: 50px;
}

.dropdown__content li:hover {
  background-color: wheat;
}

.guess {
  display: flex;
  font-size: 40px;
  font-weight: 900;
  color: wheat;
  padding: 10px;
}

.guess img {
  border-radius: 50%;
  border: 5px solid wheat;
  width: 100px;
}

.guess p {
  margin: auto 0;
  padding-inline: 10px;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  width: 80%;
}

.square {
  text-align: center;
  border: 2px solid rgb(58, 58, 60);
  border-radius: 10px;
  width: 90px;
  height: 90px;
  font-size: 25px;
  font-weight: bold;
  color: gainsboro;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square img {
  border-radius: 50%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

/*** MODAL STYLING***/
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 16px;
  border: 1px solid #888;
  width: 35%;
  border-radius: 4px;
  box-shadow: 0 4px 23px 0 rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}

.modalFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-block: 30px 0 14px 0;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.leftSide * {
  margin: 10px;
  text-align: center;
  margin: auto 0;
}

.rightSide {
  margin: auto 0;
}

.countdown {
  font-weight: 700;
  font-size: 40px;
}

.share-button {
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  width: 200px;
  height: 60px;
}

.stats {
  padding-block: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  margin: 0 auto;
}

.solution {
  margin: 0 auto 5px;
  justify-content: center;
  width: 75%;
  height: 120px;
  box-sizing: border-box;
  padding: 10px;
  align-items: center;
}

.glassEffect {
  background: rgba(253, 5, 5, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  border: solid 1px wheat;
}

.stats > p {
  padding-inline: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.stats :nth-child(3) {
  color: green;
}

.stats :nth-child(4) {
  color: red;
}

.stats p > span {
  font-size: 30px;
  font-weight: bold;
}

.guessDistribution {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-inline: 50px;
}

.guessDistribution p {
  padding-block: 2px;
  margin-left: 12px;
  display: flex;
}

.guessDistribution span {
  text-align: right;
}

.help__Modal > p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.help__examples {
  padding-top: 24px;
  padding-bottom: 24px;
  border-block: 1px solid gainsboro;
}

.help__examples__1 {
  margin-top: 24px;
  margin-bottom: 24px;
  display: inline-flex;
}

.help__examples .help__examples__1 .square {
  margin: 2px;
  width: 60px;
  height: 60px;
}

/*** Loading Screen ***/
.box {
  margin: auto;
  width: 40px;
  height: 100px;
  position: relative;
}

.box .shadow {
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: grey;
  bottom: 0;
  border-radius: 100%;
  transform: scaleX(0.8);
  opacity: 0.6;
  animation: shadowScale 1s linear infinite;
}

.gravity {
  width: 40px;
  height: 40px;
  animation: bounce 2s cubic-bezier(0.68, 0.35, 0.29, 0.54) infinite;
}

.ball {
  width: 40px;
  height: 40px;
  background-image: url("https://cdn2.iconfinder.com/data/icons/activity-5/50/26BD-soccer-ball-128.png");
  background-size: cover;
  animation: roll 0.7s linear infinite;
}

/***Scroller***/
::-webkit-scrollbar {
  display: none;
}

/*** Transitions keyframes***/
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
}

@keyframes roll {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(200px);
  }
}

@keyframes shadowScale {
  0% {
  }
  50% {
    transform: scaleX(1);
    opacity: 0.8;
  }
  100% {
  }
}

@keyframes slideDown {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(8%);
  }
  65% {
    transform: translateX(-4%);
  }
  80% {
    transform: translateX(4%);
  }
  95% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0%);
  }
}

/*** Transitions ***/
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

.bounce {
  animation: MoveUpDown 1s linear infinite;
}

.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

/*** Media Queries ***/
@media screen and (max-width: 600px) {
  .modal-content {
    width: 95%;
  }

  .guessDistribution {
    width: 100%;
    padding-inline: 0;
  }

  .modalFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 1.5rem;
  }

  .board {
    width: 99%;
  }

  .square {
    width: 70px;
    height: 70px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 410px) {
  .square {
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }
}
